.profile{
  padding-left:250px;
  padding-right:250px;
}


.profile>p{
  margin-top: 20px;
  font-size: 25px;
}

.profileimg{
  width: 350px;
  height: 300px;
}


.input_file{
  display: none;
}


@media (max-width: 1200px){
  
  h2{
    font-size: 25px;
  }
}

@media (max-width: 992px){
  .profile{
  padding-left:125px;
  padding-right:125px;
  }
}


@media (max-width: 767px){
  h2{
    font-size: 20px;
  }
  .profile{
  padding-left:30px;
  padding-right:30px;
  }

  .profileimg{
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 400px){
  h2{
    font-size: 20px;
  }

  .profileimg{
    width: 200px;
    height: 200px;
  }
}